body {
  margin-top: 20px;
  font-family: Sans-Serif;
}

header {
  background-color: #5C7883;
  color: white;
  margin-bottom: 20px;
}

header .container {
}

header h1 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

header h1 span {
  color: orange;
}


@media (max-width: 768px) {
  div[role=menu] > .affix {
    width: 213px;
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  div[role=menu] > .affix {
    width: 213px;
  }
}

@media (min-width: 1200px) {
  div[role=menu] > .affix {
    width: 263px;
  }
}

div[role=menu] > .affix {
  top: 10px;
}

.qs-nav > li > a {
  padding: 1px 5px 2px 1px;
  margin-right: 5px;
  text-align: right;
}

.qs-nav > li.active > a {
  border-right: 2px solid #647D9A;
}
